{% extends "_base.html" %}


{% block hero %}
<section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>{{snack.title}}</h1>
          <h2>purchuser: {{snack.purchuser}}  description: {{snack.description}}</h2>
          <h3>{{snack.get_absolute_url}}</h3>

          <!-- <a href="{% url 'update_snack' snack.id %}" class="btn-get-started scrollto">Update this snack</a> -->
          <a href="update/{{snack.id}}" class="btn-get-started scrollto">Update this snack</a>
          <a href="{% url 'delete_snack' snack.id %}" class="btn-get-started scrollto">Delete this snack</a>

          <a href="{% url 'home' %}" class="btn-get-started scrollto">Go back to home</a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
{% endblock %}
